<div class="schedule-row row">
  <div class="col-xs-2">
    <h5 class="regular white">{{ position }}</h5>
  </div>
  <div class="col-xs-8">
    <h5 class="regular white">{{ player }}</h5>
  </div>
  <div class="col-xs-2 text-right">
    <h5 class="white">{{ score }}</h5>
  </div>
</div>
